<% layout("/layouts/boilerplate") %>
<div class="container  mt-3 ">
  <div class=" row justify-content-center">
    <div class="col-md-6">
    <h1 class="form-head">Update Listing</h1>
    <form
      action="/listings/<%= listing._id %>?_method=PUT"
      method="post"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="form-group mb-3">
        <label for="title" class="form-label">Title:</label>
        <input
          type="text"
          id="title"
          name="title"
          placeholder="Enter title"
          class="form-control"
          value="<%= listing.title %>"
          required
        />
        <div class="valid-feedback">looks good</div>
      </div>

      <div class="form-group mb-3">
        <label for="description" class="form-label">Description:</label>
        <textarea
          type="text"
          id="description"
          name="description"
          placeholder="Enter description"
          class="form-control"
          required
        >
<%= listing.description %></textarea
        >
        <div class="invalid-feedback">please enter short description</div>
      </div>

      <div class="row">
        <div class="form-group mb-3 col-md-4">
          <label for="price" class="form-label">Price:</label>
          <input
            type="number"
            id="price"
            name="price"
            placeholder="Enter price"
            class="form-control"
            value="<%= listing.price %>"
            required
          />
          <div class="invalid-feedback">please enter valid price</div>
        </div>
        <div class="form-group mb-3 col-md-8">
          <label for="country" class="form-label">Country:</label>
          <input
            type="text"
            id="country"
            name="country"
            placeholder="Enter country"
            class="form-control"
            value="<%= listing.country %>"
            required
          />
          <div class="invalid-feedback">please enter valid country</div>
        </div>
        <div class=" original-image form-group mb-3">
        <label for="Image" class="form-label">Original Image:</label>

          <img src="<%= modifiedImgUrl %>" alt="image">
        </div>
      <div class="form-group mb-3">
        <label for="image" class="form-label">Upload Image :</label>
        <input
          type="file"
          id="image"
          name="image"
          placeholder="Enter image URL"
          class="form-control"
        />
      </div>

      <div class="form-group mb-3">
        <label for="location" class="form-label">Location:</label>
        <input
          type="text"
          id="location"
          name="location"
          placeholder="Enter location"
          class="form-control"
          value="<%= listing.location %>"
          required
        />
        <div class="invalid-feedback">please enter valid location</div>
      </div>
     <div >
      <button type="submit" class="btn btn-primary">Update</button>
     </div>

      
    </form>
  </div>
  </div>
</div>
